# DO NOT RUN ALL

### importing dependaices

In [184]:
import pandas as pd
import requests
import json
import numpy as np
from pprint import pprint
from datetime import datetime as dt

### importing api key

In [185]:
dt(2015, 1, 1)

datetime.datetime(2015, 1, 1, 0, 0)

### reading in data from csv
#### filtered_fires.csv was filtered from origonal data in SQLiteStudio removing low/nominal confidence and non-vegetation fires

In [186]:
new_data = pd.read_csv (r'C:\Users\dlefo\Project-2\static\data\fire_archive_M6_160902.csv')

new_data

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,31.4055,-85.7905,300.9,2.0,1.4,2015-10-01,420,Terra,MODIS,35,6.03,289.8,9.5,N,0
1,30.2032,-90.9995,304.1,1.0,1.0,2015-10-01,420,Terra,MODIS,58,6.03,292.8,4.8,N,2
2,30.4472,-94.7651,302.3,1.1,1.1,2015-10-01,420,Terra,MODIS,48,6.03,291.8,5.6,N,0
3,35.6459,-96.1828,304.0,1.1,1.1,2015-10-01,421,Terra,MODIS,58,6.03,286.8,8.8,N,0
4,35.8895,-89.7871,306.5,1.3,1.1,2015-10-01,421,Terra,MODIS,68,6.03,286.4,12.9,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568002,39.5034,-107.8907,339.4,1.5,1.2,2020-06-30,2042,Aqua,MODIS,89,6.03,310.9,55.5,D,0
568003,39.4121,-112.2301,338.4,1.0,1.0,2020-06-30,2042,Aqua,MODIS,73,6.03,309.0,29.5,D,0
568004,39.4732,-112.1899,341.2,1.0,1.0,2020-06-30,2042,Aqua,MODIS,88,6.03,313.4,27.8,D,0
568005,39.1804,-121.6288,322.7,2.2,1.4,2020-06-30,2042,Aqua,MODIS,37,6.03,306.9,28.6,D,0
568006,21.4930,-158.1153,330.7,1.0,1.0,2020-06-30,2355,Aqua,MODIS,72,6.03,307.3,20.9,D,0

### Snippet from readme file explaining the column values

https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/v1-vnp14imgt#ed-viirs-375m-attributes

Latitude: Center of nominal 375 m fire pixel

Longitude: Longitude	Center of nominal 375 m fire pixel

Bright_ti4: Brightness temperature I-4	VIIRS I-4 channel brightness temperature of the fire pixel measured in Kelvin.

Scan: Along Scan pixel size	The algorithm produces approximately 375 m pixels at nadir. Scan and track reflect actual pixel size.

Track: Along Track pixel size	The algorithm produces approximately 375 m pixels at nadir. Scan and track reflect actual pixel size.

Acq_Date: Acquisition Date	Date of VIIRS acquisition.
Acq_Time: Acquisition Time	Time of acquisition/overpass of the satellite (in UTC).
Satellite: Satellite	N= Suomi National Polar-orbiting Partnership (Suomi NPP)
Confidence: Confidence	
This value is based on a collection of intermediate algorithm quantities used in the detection process. It is intended to help users gauge the quality of individual hotspot/fire pixels. Confidence values are set to low, nominal and high. Low confidence daytime fire pixels are typically associated with areas of sun glint and lower relative temperature anomaly (<15K) in the mid-infrared channel I4. Nominal confidence pixels are those free of potential sun glint contamination during the day and marked by strong (>15K) temperature anomaly in either day or nighttime data. High confidence fire pixels are associated with day or nighttime saturated pixels.

Version: (Collection and source) Version identifies the collection (e.g. VIIRS Collection 1) and source of data processing: Near Real-Time (NRT suffix added to collection) or Standard Processing (collection only). "1.0NRT" - Collection 1 NRT processing. "1.0" - Collection 1 Standard processing.

Bright_ti5:	Brightness temperature I-5	I-5 Channel brightness temperature of the fire pixel measured in Kelvin.

FRP	(Fire Radiative Power): FRP depicts the pixel-integrated fire radiative power in MW (megawatts). Given the unique spatial and spectral resolution of the data, the VIIRS 375 m fire detection algorithm was customized and tuned in order to optimize its response over small fires while balancing the occurrence of false alarms. Frequent saturation of the mid-infrared I4 channel (3.55-3.93 Âµm) driving the detection of active fires requires additional tests and procedures to avoid pixel classification errors. As a result, sub-pixel fire characterization (e.g., fire radiative power [FRP] retrieval) is only viable across small and/or low-intensity fires. Systematic FRP retrievals are based on a hybrid approach combining 375 and 750 m data. In fact, starting in 2015 the algorithm incorporated additional VIIRS channel M13 (3.973-4.128 Âµm) 750 m data in both aggregated and unaggregated format.

Type:Inferred hot spot type	
    0 = presumed vegetation fire
    1 = active volcano
    2 = other static land source
    3 = offshore detection (includes all detections over water)
DayNight: Day or Night; D= Daytime fire, N= Nighttime fire

### creating the dataframe from csv file with header names

In [187]:
df = pd.DataFrame(new_data, columns = ['acq_date',
                                    'latitude',
                                   'longitude',
                                   'brightness',
                                   'scan',
                                   'track',                                   
                                   'acq_time',
                                   'satellite',
                                   'instrument',
                                   'confidence',
                                   'version',
                                   'bright_t31',
                                   'frp',
                                   'daynight',
                                   'type'])
filtered_df = df.drop(['bright_t31',
                       'brightness',
                       'acq_time',
                       'scan',
                       'track',
                       'satellite',
                       'instrument',
                       'confidence',
                       'version',
                       'bright_t31',
                       'daynight',
                       'type'], axis = 1)

In [188]:
filtered_df.head

<bound method NDFrame.head of           acq_date  latitude  longitude   frp
0       2015-10-01   31.4055   -85.7905   9.5
1       2015-10-01   30.2032   -90.9995   4.8
2       2015-10-01   30.4472   -94.7651   5.6
3       2015-10-01   35.6459   -96.1828   8.8
4       2015-10-01   35.8895   -89.7871  12.9
...            ...       ...        ...   ...
568002  2020-06-30   39.5034  -107.8907  55.5
568003  2020-06-30   39.4121  -112.2301  29.5
568004  2020-06-30   39.4732  -112.1899  27.8
568005  2020-06-30   39.1804  -121.6288  28.6
568006  2020-06-30   21.4930  -158.1153  20.9

[568007 rows x 4 columns]>

### rounding the lat and lon to simplify and group dataframe

In [189]:
rounded_df = filtered_df.round({'latitude':1, 'longitude':1})
rounded_df2 = rounded_df.rename(columns={"latitude": "round_lat",
                                         "longitude":"round_lon",
                                         "acq_date":"date",
                                         "acq_time":"time",
                                         "frp":"fire_pow"})

In [190]:
rounded_df2.head

<bound method NDFrame.head of               date  round_lat  round_lon  fire_pow
0       2015-10-01       31.4      -85.8       9.5
1       2015-10-01       30.2      -91.0       4.8
2       2015-10-01       30.4      -94.8       5.6
3       2015-10-01       35.6      -96.2       8.8
4       2015-10-01       35.9      -89.8      12.9
...            ...        ...        ...       ...
568002  2020-06-30       39.5     -107.9      55.5
568003  2020-06-30       39.4     -112.2      29.5
568004  2020-06-30       39.5     -112.2      27.8
568005  2020-06-30       39.2     -121.6      28.6
568006  2020-06-30       21.5     -158.1      20.9

[568007 rows x 4 columns]>

In [191]:
result = pd.concat([rounded_df2, filtered_df], axis=1).reindex(rounded_df.index)

print(result)
result.info()

              date  round_lat  round_lon  fire_pow    acq_date  latitude  \
0       2015-10-01       31.4      -85.8       9.5  2015-10-01   31.4055
1       2015-10-01       30.2      -91.0       4.8  2015-10-01   30.2032
2       2015-10-01       30.4      -94.8       5.6  2015-10-01   30.4472
3       2015-10-01       35.6      -96.2       8.8  2015-10-01   35.6459
4       2015-10-01       35.9      -89.8      12.9  2015-10-01   35.8895
...            ...        ...        ...       ...         ...       ...
568002  2020-06-30       39.5     -107.9      55.5  2020-06-30   39.5034
568003  2020-06-30       39.4     -112.2      29.5  2020-06-30   39.4121
568004  2020-06-30       39.5     -112.2      27.8  2020-06-30   39.4732
568005  2020-06-30       39.2     -121.6      28.6  2020-06-30   39.1804
568006  2020-06-30       21.5     -158.1      20.9  2020-06-30   21.4930

        longitude   frp
0        -85.7905   9.5
1        -90.9995   4.8
2        -94.7651   5.6
3        -96.1828   8.8
4        -89.7871  12.9
...           ...   ...
568002  -107.8907  55.5
568003  -112.2301  29.5
568004  -112.1899  27.8
568005  -121.6288  28.6
568006  -158.1153  20.9

[568007 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568007 entries, 0 to 568006
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       568007 non-null  object
 1   round_lat  568007 non-null  float64
 2   round_lon  568007 non-null  float64
 3   fire_pow   568007 non-null  float64
 4   acq_date   568007 non-null  object
 5   latitude   568007 non-null  float64
 6   longitude  568007 non-null  float64
 7   frp        568007 non-null  float64
dtypes: float64(6), object(2)
memory usage: 34.7+ MB

In [192]:
result2 = result.drop(['acq_date', 'fire_pow', 'latitude', 'longitude'],axis=1)

print(result2)

              date  round_lat  round_lon   frp
0       2015-10-01       31.4      -85.8   9.5
1       2015-10-01       30.2      -91.0   4.8
2       2015-10-01       30.4      -94.8   5.6
3       2015-10-01       35.6      -96.2   8.8
4       2015-10-01       35.9      -89.8  12.9
...            ...        ...        ...   ...
568002  2020-06-30       39.5     -107.9  55.5
568003  2020-06-30       39.4     -112.2  29.5
568004  2020-06-30       39.5     -112.2  27.8
568005  2020-06-30       39.2     -121.6  28.6
568006  2020-06-30       21.5     -158.1  20.9

[568007 rows x 4 columns]

In [193]:
result2['date'] =  pd.to_datetime(result2['date'])
result2['year'] = result2.date.dt.year
result2['month'] = result2.date.dt.month
result2.head()

        date  round_lat  round_lon   frp  year  month
0 2015-10-01       31.4      -85.8   9.5  2015     10
1 2015-10-01       30.2      -91.0   4.8  2015     10
2 2015-10-01       30.4      -94.8   5.6  2015     10
3 2015-10-01       35.6      -96.2   8.8  2015     10
4 2015-10-01       35.9      -89.8  12.9  2015     10

In [194]:
result2['date'] = result2.apply(lambda x: dt(x['year'], x['month'], 1), axis=1)
result2['date'] =  pd.to_datetime(result2['date'])

result2.head()

        date  round_lat  round_lon   frp  year  month
0 2015-10-01       31.4      -85.8   9.5  2015     10
1 2015-10-01       30.2      -91.0   4.8  2015     10
2 2015-10-01       30.4      -94.8   5.6  2015     10
3 2015-10-01       35.6      -96.2   8.8  2015     10
4 2015-10-01       35.9      -89.8  12.9  2015     10

In [195]:
result2 = result2.drop("year", axis=1)
result2 = result2.drop("month", axis=1)
result2.head()

        date  round_lat  round_lon   frp
0 2015-10-01       31.4      -85.8   9.5
1 2015-10-01       30.2      -91.0   4.8
2 2015-10-01       30.4      -94.8   5.6
3 2015-10-01       35.6      -96.2   8.8
4 2015-10-01       35.9      -89.8  12.9

In [196]:
result2 = result2.groupby(['date','round_lat','round_lon'],as_index=False).sum()
result2.head()

        date  round_lat  round_lon      frp
0 2015-10-01       19.3     -155.2     30.6
1 2015-10-01       19.4     -155.3  18847.1
2 2015-10-01       19.4     -155.1  23359.3
3 2015-10-01       19.4     -155.0    876.4
4 2015-10-01       20.8     -156.8     13.7

In [197]:
result2.to_csv("fire_data.csv",index=False)

In [199]:
result2.shape[0]

156625

In [ ]:
fire_list2 = [result2.columns.values.tolist()] + result2.values.tolist()

In [ ]:
# pprint(fire_list)
fire_list_no_header2 = fire_list2[1:]
sample_data = fire_list_no_header2[115000]
lat = sample_data[5]
lon = sample_data[6]
target_url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={api_key}'
geo_data = requests.get(target_url).json()
# state_name = (geo_data["results"][0]["address_components"][3]["long_name"])
print(geo_data)

In [ ]:
# for i in fire_list_no_header:
#     lat = i[4]
#     lon = i[5]
#     target_url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={api_key}'
#     geo_data = requests.get(target_url).json()
#     state_name = (geo_data["results"][0]["address_components"][3]["long_name"])
#     print(formatted_address)
#     fire_loc.append(formatted_address)
#     pprint(geo_data)
#     frp = i[6]
#     print(f'[{lat},{lon}]')

In [ ]:
fire_loc = []

for i in fire_list_no_header2:
    lat = i[5]
    lon = i[6]
    try:
        target_url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={api_key}'
        geo_data = requests.get(target_url).json()
#         print(geo_data)
        formatted_address = (geo_data["results"][1]["formatted_address"])
        print(formatted_address)
        fire_loc.append(formatted_address)
    except IndexError:
        print("N/A")

In [ ]:
len(fire_loc)

In [ ]:
result2['location'] = fire_loc

In [ ]:
len(result2)

In [ ]:
type(result2)

In [ ]:
result2.to_csv("fire_df2.csv", sep=',')

#### In SQLite Studio:

'fire_df2.csv' uploaded into table 'filtered_table2'<br>
the returned value from the API calls resulted in an address which was inconsistent and as a result<br>
both state name and initials needed to be searched<br>
states were added from result2['location'] by searching the string for state name or initials<br>

UPDATE filtered_table2<br>
SET state_name = "Hawaii"<br>
WHERE location LIKE '%Hawaii%'<br>
OR location regexp '[[:<:]]HI[[:>:]]';<br>

city/state name conflicts (such as Washington, Utah) were resolved by going back and specifying with 'AND' parameter<br>

UPDATE filtered_table2<br>
SET state_name = "Utah"<br>
WHERE location LIKE 'Washington%'<br>
AND location regexp '[[:<:]]UT[[:>:]]';<br>

there were multiple rows where the location was 'Yellowstone National Park', as this National Park<br> 
crosses multiple state lines these datasets will be removed from the returned database in pandas dataframe<br>
for simplicity.

In [ ]:
data2 = pd.read_csv (r'C:\Users\Ryan\Desktop\forest_fires\filtered_fires2.csv')

In [ ]:
print(data2)

#### clearing empty state name values

In [ ]:
data2.dropna(axis=0, inplace=True)

In [ ]:
print(data2)

In [ ]:
group_by_state = data2.groupby(['state_name', 'date'])['frp'].agg('sum')
print(group_by_state)

In [ ]:
month_year = []

for old_date in date_list:
    new_date = '{:%m-%Y}'.format(dt.strptime(old_date, '%d/%m/%Y'))
    month_year.append(new_date)

In [ ]:
len(month_year)

In [ ]:
data2['month-year'] = month_year
print(data2)

In [ ]:
group_by_state = data2.groupby(['state_name', 'month-year'])['frp'].agg('sum')
print(group_by_state)